In [0]:
# Load the dataset from DBFS (Databricks Filesystem)
file_path = "/databricks-datasets/samples/population-vs-price/data_geo.csv"
df = spark.read.csv(file_path, header=True, inferSchema=True)
df.printSchema()
df.show()

root
 |-- 2014 rank: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- 2014 Population estimate: integer (nullable = true)
 |-- 2015 median sales price: double (nullable = true)

+---------+-------------+----------+----------+------------------------+-----------------------+
|2014 rank|         City|     State|State Code|2014 Population estimate|2015 median sales price|
+---------+-------------+----------+----------+------------------------+-----------------------+
|      101|   Birmingham|   Alabama|        AL|                  212247|                  162.9|
|      125|   Huntsville|   Alabama|        AL|                  188226|                  157.7|
|      122|       Mobile|   Alabama|        AL|                  194675|                  122.5|
|      114|   Montgomery|   Alabama|        AL|                  200481|                  129.0|
|       64|Anchorage[19]|    Alaska|        AK|                  301010|                   null|
|       78|     Chandler|   Arizona|        AZ|                  254276|                   null|
|       86|  Gilbert[20]|   Arizona|        AZ|                  239277|                   null|
|       88|     Glendale|   Arizona|        AZ|                  237517|                   null|
|       38|         Mesa|   Arizona|        AZ|                  464704|                   null|
|      148|       Peoria|   Arizona|        AZ|                  166934|                   null|
|        6|      Phoenix|   Arizona|        AZ|                 1537058|                  206.1|
|       95|   Scottsdale|   Arizona|        AZ|                  230512|                   null|
|      215|     Surprise|   Arizona|        AZ|                  126275|                   null|
|      142|        Tempe|   Arizona|        AZ|                  172816|                   null|
|       33|       Tucson|   Arizona|        AZ|                  527972|                  178.1|
|      119|  Little Rock|  Arkansas|        AR|                  197706|                  131.8|
|       56|      Anaheim|California|        CA|                  346997|                  685.7|
|      261|      Antioch|California|        CA|                  108930|                   null|
|       52|  Bakersfield|California|        CA|                  368759|                   null|
|      227|     Berkeley|California|        CA|                  118853|                   null|
+---------+-------------+----------+----------+------------------------+-----------------------+
only showing top 20 rows

In [0]:
# Select relevant columns for analysis
df_selected = df.select(
    "City", "State", "State Code", 
    "2014 Population estimate", "2015 median sales price"
)
df_selected.show(5)

+-------------+-------+----------+------------------------+-----------------------+
|         City|  State|State Code|2014 Population estimate|2015 median sales price|
+-------------+-------+----------+------------------------+-----------------------+
|   Birmingham|Alabama|        AL|                  212247|                  162.9|
|   Huntsville|Alabama|        AL|                  188226|                  157.7|
|       Mobile|Alabama|        AL|                  194675|                  122.5|
|   Montgomery|Alabama|        AL|                  200481|                  129.0|
|Anchorage[19]| Alaska|        AK|                  301010|                   null|
+-------------+-------+----------+------------------------+-----------------------+
only showing top 5 rows

# Scenario 1 : Top 10 most popular cities

In [0]:
#for visual
display(df.select('city','2014 population estimate').orderBy('2014 population estimate',ascending = False).limit(10))

# df.selected.orderBy(df_selected["2014 Population estimate"])

city,2014 population estimate
New York[6],8491079
Los Angeles,3928864
Chicago,2722389
Houston[7],2239558
Philadelphia[8],1560297
Phoenix,1537058
San Antonio,1436697
San Diego,1381069
Dallas,1281047
San Jose,1015785

# Scenario 2: Average median sales price by State

In [0]:
from pyspark.sql.functions import *
display(df_selected.groupBy('State').agg(avg('2015 median sales price').alias('Average Median Sales')).orderBy(desc('Average Median Sales')))

State,Average Median Sales
Hawai'i,699.3
California,547.9714285714286
District of Columbia,367.8
New Jersey,350.8
Colorado,333.46666666666664
Washington,266.29999999999995
Massachusetts,261.8
Connecticut,250.13333333333333
Utah,243.3
New Hampshire,237.4
Nevada,237.3
Rhode Island,233.3
Oregon,231.53333333333333
Maryland,223.1
Wisconsin,210.8
Minnesota,209.4
Virginia,201.25
Arizona,192.1
New York,185.775
Pennsylvania,183.8
North Dakota,180.0
Florida,178.77777777777777
Idaho,178.7
North Carolina,176.05714285714288
Texas,173.4777777777778
New Mexico,172.2
Louisiana,164.39999999999998
South Dakota,159.5
Georgia,158.0
Mississippi,154.1
Tennessee,152.825
Nebraska,149.14999999999998
Oklahoma,145.1
Alabama,143.025
Kentucky,141.14999999999998
Missouri,134.75
Iowa,133.15
Arkansas,131.8
Illinois,122.87499999999999
Indiana,122.75
Kansas,115.65
Michigan,114.6
Ohio,112.86666666666667
Alaska,null
Montana,null
South Carolina,null

# Scenerio 3:Filter Cities with population > 1 million

In [0]:
display(df_selected.groupBy('City').agg(sum('2014 Population estimate').alias('Population')).filter(col('Population')>1000000).orderBy(desc('Population')))

City,Population
New York[6],8491079
Los Angeles,3928864
Chicago,2722389
Houston[7],2239558
Philadelphia[8],1560297
Phoenix,1537058
San Antonio,1436697
San Diego,1381069
Dallas,1281047
San Jose,1015785

Databricks visualization. Run in Databricks to view.

# Scenerio 4: Identify cities with missing or zero price values

In [0]:
df_selected.filter((df_selected['2015 median sales price'].isNull())| (df_selected['2015 median sales price']==0)).show()

+-------------+----------+----------+------------------------+-----------------------+
|         City|     State|State Code|2014 Population estimate|2015 median sales price|
+-------------+----------+----------+------------------------+-----------------------+
|Anchorage[19]|    Alaska|        AK|                  301010|                   null|
|     Chandler|   Arizona|        AZ|                  254276|                   null|
|  Gilbert[20]|   Arizona|        AZ|                  239277|                   null|
|     Glendale|   Arizona|        AZ|                  237517|                   null|
|         Mesa|   Arizona|        AZ|                  464704|                   null|
|       Peoria|   Arizona|        AZ|                  166934|                   null|
|   Scottsdale|   Arizona|        AZ|                  230512|                   null|
|     Surprise|   Arizona|        AZ|                  126275|                   null|
|        Tempe|   Arizona|        AZ|                  172816|                   null|
|      Antioch|California|        CA|                  108930|                   null|
|  Bakersfield|California|        CA|                  368759|                   null|
|     Berkeley|California|        CA|                  118853|                   null|
|      Burbank|California|        CA|                  105368|                   null|
|     Carlsbad|California|        CA|                  112299|                   null|
|  Chula Vista|California|        CA|                  260988|                   null|
|       Clovis|California|        CA|                  102189|                   null|
|      Concord|California|        CA|                  127522|                   null|
|       Corona|California|        CA|                  161486|                   null|
|   Costa Mesa|California|        CA|                  112784|                   null|
|    Daly City|California|        CA|                  106094|                   null|
+-------------+----------+----------+------------------------+-----------------------+
only showing top 20 rows